@use '../styles/partials/variables' as *;
@use '../styles/general.scss';
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 300px;
    margin-top: 7rem;
    margin-bottom: 7rem;
    .pluto{
        width: 70px;
        height: 70px;
    }
    .pluto:hover{
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}
.card-title{
    text-align: center;
    margin-top: 1rem;
}
.divisore{
    text-align: center;
    border: 1px solid $gray-color;
    border-radius: 2px;
    background-color: $gray-color;
    width: 100px;
    height: 3px;
    margin-left: 5rem;
    margin-top: 1.2rem;
}
.card-text{
    text-align: center;
}
button{
    border: 1px solid $gray-color;
    color: $gray-color;
    background: none;
    padding: 15px;
}
button:hover{
    cursor: pointer;
    border: 1px solid $black-color;
    color: $black-color;
    background-color: $white-color;
}